.min-w-full {
    min-width: 100%;
   }
   
   .divide-y > * + * {
    border-top: 1px solid rgb(229, 231, 235);
   }
   
   .bg-gray-50 {
    background-color: rgb(249, 250, 251);
   }
   
   .bg-white {
    background-color: white;
   }
   
   .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   }
   
   .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
   }
   
   .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
   }
   
   .text-left {
    text-align: left;
   }
   
   .text-xs {
    font-size: 0.75rem;
   }
   
   .font-medium {
    font-weight: 500;
   }
   
   .text-gray-500 {
    color: rgb(107, 114, 128);
   }
   
   .uppercase {
    text-transform: uppercase;
   }
   
   .tracking-wider {
    letter-spacing: 0.05em;
   }
   
   .whitespace-nowrap {
    white-space: nowrap;
   }